.app-header-main {
  display: grid;
  grid-template-columns: 1fr 20fr 5fr;
  svg {
    width: 1.8rem;
  }
  nav {
    padding: 0.3rem 0;
  }
  .app-name {
    padding: 0.3rem 0;
    animation: bounce 1.2s ease-out;
  }
  .app-logo{
    animation: bounce 1.2s ease-out;
  }
  .nav-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    grid-template-rows: 1fr;
  }
  a {
    text-decoration: none;
    color: black;
  }
  span {
    width: 0;
    height: 0.2rem;
    display: block;
    transition: width 1s;
  }
  a:hover {
    span {
      width: 100%;
      background-color: black;
    }
  }
  @media all and (max-width: 700px) {
  }
  @keyframes bounce {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    5% {
      transform: translateY(-100%);
      opacity: 0;
    }
    15% {
      transform: translateY(0);
      padding-bottom: 5px;
    }
    30% {
      transform: translateY(-50%);
    }
    40% {
      transform: translateY(0%);
      padding-bottom: 6px;
    }
    50% {
      transform: translateY(-30%);
    }
    70% {
      transform: translateY(0%);
      padding-bottom: 7px;
    }
    80% {
      transform: translateY(-15%);
    }
    90% {
      transform: translateY(0%);
      padding-bottom: 8px;
    }
    95% {
      transform: translateY(-7%);
    }
    97% {
      transform: translateY(0%);
      padding-bottom: 9px;
    }
    99% {
      transform: translateY(-3%);
    }
    100% {
      transform: translateY(0);
      padding-bottom: 9px;
      opacity: 1;
    }
  }
}
