.app-container {
  display: grid;
  grid-gap: 1px;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-areas:
    "nav"
    "main"
    "footer";

  grid-template-rows: 60px 1fr 30px;
}
#root {
  height: 100%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
.app-header {
  grid-area: nav;
  padding: 1rem 1.2rem;
  padding-right: 10rem;
}
.app-main {
  grid-area: main;
  padding: 0.1rem 1.2rem;
}
.app-footer {
  grid-area: footer;
  background-color: #7e57c2;
  padding: 0.3rem;
  padding-left: 1.2rem;
}
